<nav class="navbar navbar-default navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav nav-tabs navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item"><a [routerLink]="['recipes']" routerLinkActive="active" class="nav-link">Recipes</a></li>
        <li routerLinkActive="active" class="nav-item"><a [routerLink]="['shopping-list']" routerLinkActive="active" class="nav-link">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav ms-auto">
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" appDropdown>Manage</a>
          <ul class="dropdown-menu">
            <li><a (click)="onSaveData()" class="dropdown-item">Save Data</a></li>
            <li><a (click)="onFetchData()" class="dropdown-item">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
